[submodule "tic-tac-toe"]
	path = tic-tac-toe
	url = https://github.com/ahtohbi4/tic-tac-toe.git
[submodule "vendors/normalize.css"]
	path = vendors/normalize.css
	url = https://github.com/necolas/normalize.css.git
[submodule "typography"]
	path = typography
	url = https://github.com/ahtohbi4/typography.git
[submodule "postcss-bgimage"]
	path = postcss-bgimage
	url = https://github.com/ahtohbi4/postcss-bgimage.git
