<!doctype html>

<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>Front-end Development</title>

    <meta name="description" content="Training and open sources projects by Alexandr Antonov (ahtohbi4)">
    <meta name="keywords" content="Front-end javascript html css web ahtohbi4">

    <link rel="shortcut icon" href="favicon.ico">

    <!-- Open Graph Basic Metadata
         INFO: see http://ogp.me/#metadata -->
    <meta property="og:type" content="website">
    <meta property="og:url" content= "http://ahtohbi4.github.io/">
    <meta property="og:title" content="Front-end Development">

    <!-- Open Graph Optional Metadata
         INFO: see http://ogp.me/#optional -->
    <meta property="og:description" content="Training and open sources projects by Alexandr Antonov (ahtohbi4)">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:site_name" content="Front-end Development">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="format-detection" content="telephone=no">

    <link rel="canonical" href="http://ahtohbi4.github.io/">

    <link rel="stylesheet" href="build/style.css">
</head>

<body class="page">
    <div class="page__app" id="app"></div>

    <script src="build/script.js"></script>
</body>
</html>
