.sidebar {
    background: #234;
    box-shadow: inset -1px 0 rgba(0, 0, 0, .05), inset -2px 0 rgba(0, 0, 0, .05), inset -4px 0 rgba(0, 0, 0, .05), inset -6px 0 rgba(0, 0, 0, .05), inset -9px 0 rgba(0, 0, 0, .05);
}

.sidebar__content {
    width: 300px;
    box-sizing: border-box;
    padding: 27px 30px;
}
