.sidebar {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2)), linear-gradient(23deg, #2f6692, #292a52);
    background-color: #273e64;
    box-shadow: inset -1px 0 rgba(0, 0, 0, .05), inset -2px 0 rgba(0, 0, 0, .05), inset -3px 0 rgba(0, 0, 0, .05), inset -4px 0 rgba(0, 0, 0, .05), inset -5px 0 rgba(0, 0, 0, .05);
}

.sidebar__content {
    width: 300px;
    box-sizing: border-box;
    padding: 27px 30px;
}
